
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.container-flex{
    padding: 3% 15% 8%;
}
 h1, h2, h3, h4, h5, h6{ 
    font-family: "Montserrat";   
}

a{
    padding: 10px;
    color: black;  
}

#title{    
    text-align: left;
}

/* Headding */

.Big-hadding{
    font-weight: 900;
    font-size: 3.5rem;
    line-height:1.5;
}

/* Section */

.colored-section{
    background-color: #ff4c68 ;
    color: #fff;
}
.white-section{
    background-color: #fff;
}

/* navbar */

.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding:0 20px;
}
.nav-link{
    font-family: "Montserrat";
    font-size: 1.25rem;
    font-weight:lighter;
}

/* Download button */

.button-Download{
    margin: 5% 3% 5% 0;
}

/* Mobile image */

.Mobile-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;  
}

/* Features */

#features{
    padding: 15% 14%  ;
    
    position: relative;
    /* bottom: 240px; */
    /* z-index: 1;  */
}

.first{
    
    padding:20px 50px ;
}
.icon{
    padding-bottom: 15px;
    color:#ef8172;
}
.icon:hover{
    color: #ff4c68;
}
.features-text{
    font-weight: bold;
    font-size: 1.5rem;
}

/* Testimonial */

#testimonials{
    background-color:#ef8172;
}
.carousel-item{
    padding:7% 14% ; 
}
.testimonials-pic{ 
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
.testimonial-text{
    font-weight:600;
    font-size: 3rem;
    line-height:1.5;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3% ;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
}
.card{
    margin: 10% 4% 5%;
}
.price-text{
    font-weight:600;
    font-size: 3rem;
    line-height:1.5;
}

.pricing-title{
    font-weight: bold;
    font-size: 1.5rem;
}

/* Media Query */

@media (max-width:1000px){

.Mobile-img{
    position: static;
    width: 60%;
    transform: rotate(0deg);
}
#title{    
    text-align:center;
}
}

 /* Call to Action  */

#cta{
    padding: 10% 15%;
}

/* footer */

#footer{
    padding: 110px 0 20px; 
   
}

#footer p{
    margin-top: 20px;
}
